@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.nav-icon {
    font-size: 2.5rem;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-item .profile-img {
    width: 40px;
    height: 40px;
}

.card-header .profile-img,
.table .profile-img {
    width: 30px;
    height: 30px;
}

.list-group-item .profile-img {
    width: 25px;
    height: 25px;
}

.liked {
    color: red;
}